@import url("../fonts/meltixlight/stylesheet.css");

html, body {
	min-width: 800px;
}
body{
	margin: 0;
	font-family: "meltix_light_demoregular";
	background: #FDFEFE;
}

header {
	padding: 1em;
	background-color: black;
}

h1{
	height: 50px;
	font-size: 2em;
	color: white;
	margin: 0;
	font-family: "meltix_light_demoregular";
}
nav.logo{

	height: 60px;
	font-size: 2em;
	color: white;
	margin: 0;
	font-family: "meltix_light_demoregular";
}

div.image-gallery{
	width: 500px;
	margin: 0 auto;
	margin-bottom: 3em;
}

.main-carousel .carousel-cell img{
	max-width: 500px;
}

a, a:visited{
	text-decoration: none;
	color: white;
}

a:hover{
	color: #E5E8EB;
	text-decoration: line-through;
}
nav ul{
	list-style: none;
}

nav.menu{
	
	background-color: black;
	background-size: 2em
	font-size: 2em;
	font-family: "meltix_light_demoregular";
	float: right;
}
nav.menu li{
	display: inline;
	margin-right: 1em;
}
nav.timeline {
	
	background-size: 2px;
	font-size: 1em;
	font-family: "meltix_light_demoregular";
	color: #E5E8EB
	display: inline;
}

nav.timeline ul{
	padding: 0;
	text-align: center;
	margin-top: 4em;
	margin-bottom: 4em;
	margin-right: 0;
	margin-left: 0;
}
nav.timeline li {
	display: inline;
	padding: 1em;
	background-color: gray;
}
nav.underline li {
	color:black;
	background-color: black;
	background-size: 2em;
	margin-right: 0;
	padding:0;
}
nav.underline2 li {
	color:black;
	background-color: black;
	background-size: 2em;
	
	padding:0;
}

p{
	color:black;
	size: 10em;
}



